* {
  font-family: "Calibri";
}

#webtitle {
  margin: 0;
  padding: 0;
  border: 1px dashed gray;
  color: #000;
  clear: left;
}

.maintext {
  text-align: center;
  padding: 0;
  margin: 2px 0px;
}

a#homelink {

}

a:link, a:visited {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.sitenav {
  margin: 0;
  padding: 0;
  display: flex;
}

.navlink {
  display: inline-flex;
  padding: 2em 3em;
  width: 50%;
  height: 20%;
  margin: 0;
  font-size: auto;
  text-transform: uppercase;
  justify-content: center;
  background-color: #8DB74D;
  opacity: 0.74;
}

#splash {
  margin: 0;
  padding: 8em 0em;
  border-width: 1px;
  border-style: dashed;
  border-color: gray;
  clear: left;
}

#welcome {
  margin: 0;
  padding: 0;
  font-size: 5.5em;
  color: #000;
}
