html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', serif;
}

#web-title {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Cinzel', serif;
}

a:link, a:visited {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.site-navigation {
  margin: 0;
  padding: 0.5em 0;
  font-size: 20px;
  left: 0;
  top: 0;
  position: static;
  z-index: 3;
  background-color: rgba(141, 183, 77, 0.65);
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#web-title {
  font-size: 30px;
}

.navlink {
  display: inline;
  padding: 0 5%;
  margin: 0;
  text-transform: uppercase;
}

 a.navlink {
  opacity: 0.5;
  font-family: 'Zilla Slab', serif;
}

.front-page-welcome {
  text-align: center;
  padding: 15em 0;
  margin: 2px 0px;
}

#splash-text {
  margin: 0;
  padding: 0;
  font-size: 5.5em;
  color: #000;
  z-index: 2;
  position: relative;
}

#home-page-background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}

#add-comment-page-div-form {
  padding-left: 1em;
}

#submit-button-div {
  padding: 0.68em 0;
}

.compose-comment {
  font-size: 0.9em;
}

#submit-button {
  font-family: 'Zilla Slab', serif;
  font-size: 0.9em;
  padding: 0.68em 0.8em;
  margin: 0;
  background-color: rgb(69, 138, 249);
  justify-content: center;
  left: 0;
  cursor: pointer;
}
